@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Roboto+Condensed&display=swap');
:root {
    --heading-font: "Croissant One";
    --paragraph-font: RobotoCondensed, Helvetica, sans-serif;
}


body 
{
    font-family: var(--heading-font);
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header 
{
    background-color: #396e94;
    color: #fff;
    text-align: center;
    padding: 5px;
}
header a img
{
    max-width: 100px;  
}
header h1 a 
{
    font-family: var(--paragraph-font);
    font-size: 50px;
}
header h1 
{
    font-family: var(--paragraph-font);
    margin: 0;
}
nav 
{
    font-family: var(--paragraph-font);
    text-align: center;
    margin-top: 20px;
}
nav a 
{
    text-decoration: none;
    color: rgb(200, 128, 21);
    font-weight: bold;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px; 
}
.container 
{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
.project 
{
    margin-bottom: 20px;
    background-color: blanchedalmond;
}
.project h2 
{
    font-size: 24px;
}
.project p 
{
    font-size: 16px;
}